main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .breadcrumbs {
  align-self: start;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
main .breadcrumbs a {
  display: inline-block;
  transition: transform 0.2s;
}
main .breadcrumbs a:hover {
  transform: scale(1.1);
  text-decoration: underline #E7512C;
}
main button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  display: grid;
  place-items: center;
}
main button img {
  width: 2rem;
}
main #searchbar_filters {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  place-items: center;
}
main #searchbar {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 75vw;
  max-width: 350px;
  border: solid 2px #1C377E;
  border-radius: 25px;
  padding: 0.2rem 0.5rem 0.2rem 0.75rem;
  margin: 0 0.5rem 0 0;
  background-color: rgba(28, 55, 126, 0.5);
}
main #searchbar input {
  font-family: "Source Code Pro", monospace;
  font-size: 0.9rem;
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
}
main #searchbar input::placeholder {
  color: #050100;
}
main fieldset {
  width: 75vw;
  max-width: 325px;
  border-radius: 25px;
  border: solid 1px #050100;
  padding: 0.35rem 1rem 0.625rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}
main fieldset legend {
  font-weight: bold;
}
main fieldset div:first-of-type {
  align-self: end;
  margin-right: 0.5rem;
}
main fieldset input, main fieldset select {
  background-color: rgb(253.825, 249.83, 244.425);
  cursor: pointer;
  border: solid 1px #050100;
  border-radius: 5px;
  padding: 0.2rem;
  font-family: "Source Code Pro", monospace;
}
main fieldset label[for=is_exposed] {
  display: flex;
  align-items: center;
  justify-items: center;
}
main fieldset label[for=is_exposed] #custom_checkbox_exposed {
  margin: 0 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
  border: solid 1px #050100;
  border-radius: 5px;
  background-color: rgb(253.825, 249.83, 244.425);
  position: relative;
}
main fieldset label[for=is_exposed] #custom_checkbox_exposed::after {
  content: "";
  display: none;
  position: absolute;
  top: 3px;
  left: 6.5px;
  width: 0.25rem;
  height: 0.5rem;
  border: solid rgb(253.825, 249.83, 244.425);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
main fieldset label[for=is_exposed] #custom_checkbox_exposed:hover {
  cursor: pointer;
}
main fieldset input[type=checkbox] {
  display: none;
}
main fieldset input[type=checkbox]:checked + label[for=is_exposed] #custom_checkbox_exposed {
  background-color: #1C377E;
}
main fieldset input[type=checkbox]:checked + label[for=is_exposed] #custom_checkbox_exposed::after {
  display: block;
}
main fieldset input[type=text] {
  cursor: text;
}
main fieldset input[type=text]::placeholder {
  color: rgba(5, 1, 0, 0.75);
}
main fieldset select {
  text-align: center;
}
main fieldset #submit_filters_button {
  align-self: end;
}
main #trend_fossils div, main #collection_fossils {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
main #collection_fossils_title {
  align-self: start;
  margin-left: 5vw;
}
main #collection_fossils {
  max-width: 1200px;
}
main .catalogue_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0.2rem 0 0.2rem;
}
main .catalogue_nav span {
  margin-top: 0.1rem;
}
main .catalogue_nav button {
  font-size: 1.5rem;
  font-weight: bold;
}
main .catalogue_nav button img {
  width: 1.5rem;
}
main .catalogue_nav button {
  transition: transform 0.2s;
}
main .catalogue_nav button:hover {
  transform: scale(1.2);
  text-decoration: underline #E7512C;
}
main .catalogue_nav #back_buttons, main .catalogue_nav #page_indicators, main .catalogue_nav #next_buttons {
  display: inline-flex;
}

@media screen and (max-width: 315px) {
  .catalogue_nav {
    flex-direction: column;
    align-items: center;
  }
  .catalogue_nav div {
    margin: 0.5rem;
  }
}
@media screen and (min-width: 1425px) {
  main {
    display: grid;
    grid-template: 2% 17% 2% 1fr 2%/35% 5% 1fr;
    place-items: center;
  }
  main .breadcrumbs {
    grid-area: 1/span 3;
    justify-self: start;
  }
  main #searchbar_filters {
    grid-area: 2/1;
  }
  main .divider {
    rotate: 90deg;
    max-width: 300px;
    grid-area: 2/2;
  }
  main #trend_fossils {
    grid-area: 2/3;
  }
  main #collection_fossils_title {
    grid-area: 3/span 3;
    justify-self: start;
    margin-top: 0.5rem;
    margin-left: 10vw;
  }
  main #collection_fossils {
    grid-area: 4/span 3;
  }
  main .catalogue_nav {
    grid-area: 5/span 3;
  }
}

/*# sourceMappingURL=collection.css.map */
